<div class="section-1 bg-default-light">
  <div class="card">
    <div class="wave">👋</div>
    <div class="name">
      <label for=""> Hello , I am</label>
      <h4>Jesie</h4></div>
  </div>

  <div class="bg-circle">
    <div class="circle">
  <img class="profile"  src="../../assets/img/pic.png" alt="">

    </div>
    <div class="circle-sm"></div>
    <div class="circle-xs"></div>
  </div>

  <div class="card card-1">
    <label for="">💻 Software Developer</label>
  </div>

  <img class="plant" width="300" src="../../assets/img/plant.svg" alt="">
  <img class="table-svg" width="300" src="../../assets/img/work-icon.svg" alt="">
  <img class="code-svg" width="300" src="../../assets/img/coding-animate.svg" alt="">
  <img width="486" class="lamp-bg-svg"  src="../../assets/img/lamp.svg" alt="">
</div>

<div class="section-2">
  <h3 class="section-title">Skills and Experience</h3>
    <div class="skills">
      <div class="skill" >
        <span class="iconify icon-skills" data-icon="cib:angular" data-inline="false"></span>
        <label> ANGULAR</label>
      </div>
      <div class="skill" >
        <span class="iconify icon-skills" data-icon="file-icons:vue" data-inline="false"></span>
        <label> VUEJS</label>
      </div>
      <div class="skill" >
        <span class="iconify icon-skills" data-icon="logos:nodejs-icon" data-inline="false"></span>
        <label> NODEJS</label>
      </div>
      <div class="skill" >
        <span class="iconify icon-skills" data-icon="logos-graphql" data-inline="false"></span>
        <label> GRAPHQL</label>
      </div>
      <div class="skill" >
        <span class="iconify icon-skills" data-icon="cib:typescript" data-inline="false"></span>
        <label> TYPESCRIPT</label>
      </div>
      <div class="skill" >
        <span class="iconify icon-skills" data-icon="cib:nativescript" data-inline="false"></span>
        <label> NATIVESCRIPT</label>
      </div>
      <div class="skill" >
        <span class="iconify icon-skills" data-icon="raphael-js" data-inline="false"></span>
        <label> JAVASCRIPT</label>
      </div>
      <div class="skill" >
        <span class="iconify icon-skills" data-icon="cib-html5" data-inline="false"></span>
        <label> HTML5</label>
      </div>
      <div class="skill" >
        <span class="iconify icon-skills" data-icon="cib-css3" data-inline="false"></span>
        <label> CSS3</label>
      </div>
      <div class="skill" >
        <span class="iconify icon-skills" data-icon="cib-npm" data-inline="false"></span>
        <label> NPM</label>
      </div>
      <div class="skill" >
        <span class="iconify icon-skills" data-icon="cib-php" data-inline="false"></span>
        <label> PHP</label>
      </div>
      <div class="skill" >
        <span class="iconify icon-skills" data-icon="cib-magento" data-inline="false"></span>
        <label> MAGENTO</label>
      </div>
      <div class="skill" >
        <span class="iconify icon-skills" data-icon="cib-wordpress" data-inline="false"></span>
        <label> WORDPRESS</label>
      </div>
      <div class="skill" >
        <span class="iconify icon-skills" data-icon="cib-bootstrap" data-inline="false"></span>
        <label> BOOTSTRAP</label>
      </div>
      <div class="skill" >
        <span class="iconify icon-skills" data-icon="cib-adobe-photoshop" data-inline="false"></span>
        <label> ADOBE PHOTOSHOP</label>
      </div>



    </div>
    <div class="center-item">
      <div class="experience">
        <img class="skill-svg" width="500" src="../../assets/img/skills.svg" alt="">
        <div class="experience-panel">
          <div *ngFor="let exp of experinces" class="experience-cont">
            <div class="exp-year">{{exp.year}}</div>
            <div class="exp-details">
              <h4 class="exp-position">{{exp.position}}</h4>
              <div class="exp-company">{{exp.company}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
<div class="section-3 bg-default">
  <div class="center-item " >
    <div class="big-companies">
      <p>©2021 JESIE CABANEROS</p>
      <P>ALL RIGHTS RESERVED</P>
    </div>

  </div>

</div>
