.section-1{
  position: relative;
  height: 715px;
}
.section-1 .card{
  z-index: 1;
  position: absolute;
  top: 200px;
  padding: 17px 22px;
  left: 20%;
  background: #fff;
  margin: 0 auto;
  border-radius: 11px;
  display: flex;
  align-items: center;
}
.card .wave {
  font-size: 3.5rem;
}
.card .name {
  margin-left:  1rem;
}
.card .name label {
  font-size: 15px;
}
.card h4 {
  margin: 0;
  font-size: 4rem;
  letter-spacing: .1rem;
}
.bg-circle{
width: 100%;
  position: absolute;
  bottom: 0;
}
.bg-circle .circle{
  background: rgb(236,241,247);
  background: -moz-linear-gradient(100deg, rgba(236,241,247,1) 0%, rgba(218,225,235,1) 100%);
  background: -webkit-linear-gradient(100deg, rgba(236,241,247,1) 0%, rgba(218,225,235,1) 100%);
  background: linear-gradient(100deg, rgba(236,241,247,1) 0%, rgba(218,225,235,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ecf1f7",endColorstr="#dae1eb",GradientType=1);
  border-radius: 50%;
  height: 40rem;
  width: 40rem;
  margin: 6rem auto 0;
  display: flex;
  justify-content: center;
}
.bg-circle .circle img{
  object-fit: contain;
  width: 580px;
}

.bg-circle .circle-sm{
  background-color:#dae1eb !important;
  border-radius: 50%;
  height: 10rem;
  width: 10rem;
  position: absolute;
  bottom: 150px;
  left: 122px;
}
.bg-circle .circle-xs{
  background-color:#dae1eb !important;
  border-radius: 50%;
  height: 3rem;
  width: 3em;
  position: absolute;
  bottom: 250px;
  left: 20%;
}

.card.card-1 {
  top: 350px !important;
  left: 25% !important;
}

.plant{
  position: absolute;
  bottom: 80px;
  left: 27%;
}

.table-svg{
  position: absolute;
  top: 80px;
  right: 20%;
}

.code-svg {
  position: absolute;
  right: 16%;
  top: 503px;
}


/* section 2 */

.section-2{
  margin: 0 8rem;
}

.section-title {
  text-align: center;
  font-family: 'Lato-Black';
  font-size: 2rem;
}
.skills{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 850px;
  width: 100%;
  margin: 0 auto;
}
.skills .skill {
  display: grid;
  text-align: center;
  font-family: 'Lato-Regular';
  font-size: 11px;
  color:#868e96;
  margin-bottom: 20px;
}
.icon-skills{
  font-size: 5rem;
  padding: 1rem 3rem;
  color: #dae1eb;
}
::ng-deep .icon-skills path{
  fill: #dae1eb !important;
}
::ng-deep .icon-skills:hover path{
  fill: #4a52ad !important;
}
.icon-skills:hover{
  color: #4a52ad;
}
.experience{
  display: flex;
  align-items: center;
}
.experience-panel{
  width: 600px;
  margin-left: 7rem;
}
.experience-cont{
  grid-template-columns: 165px auto;
  grid-template-rows: auto;
  display: grid;
  align-items: baseline;
  margin-bottom: 2em;
}
.experience-cont .exp-year{
  color: #4a52ad;
  font-family: 'Lato-Black';
}
.experience-cont .exp-details .exp-position{
  margin: 0;
  font-family: 'Lato-Black';
  font-size: 1.5rem;
}
.experience-cont .exp-details .exp-company{
  margin-top: .5rem;
  font-family: 'Lato-Regular';
  color: #7e7e7e;
}
.big-companies{
  width: 100%;
  max-width: 800px;
  text-align: center;
  padding: 1rem;
}
.big-companies p {
  margin: 0;
  font-family: 'Lato-Regular';
  font-size: 14px;
}




@media (max-width: 768px) {
  .section-1 {
    height: 422px;
  }
  .bg-circle .circle {
    border-radius: 50%;
    height: 23rem;
    width: 100%;
    margin: 6rem auto 0;
    display: flex;
    justify-content: center;
  }
  .bg-circle .circle img {
    width: 100%;
  }

  .card h4 {
    font-size: 2rem;
  }
  .card .wave {
    font-size: 2rem;
  }
  .section-1 .card {
    top: unset;
    bottom: 100px;
    left: 7%;
  }

  .card.card-1 {
    bottom: 30px !important;
    left: 20% !important;
    top: unset !important;
  }

  .bg-circle .circle-sm, .bg-circle .circle-xs, .code-svg, .table-svg, .plant, .lamp-bg-svg{
    display: none;
  }
  .experience  {
    display: block !important;
  }
  .experience-cont {
    grid-template-columns: 90px auto;
    grid-template-rows: auto;
    display: grid;
    align-items: baseline;
    margin-bottom: 2em;
  }
  .section-2{
    margin: 0 30px;
  }
  .icon-skills {
    font-size: 3rem;
    padding: 1rem 1rem;
  }
  .skill-svg{
    width: 200px;
    margin: 0 20%;
  }
  .experience-panel{
    margin: 0;
    width: 100%;
  }
  .medias {
    position: unset !important;
    display: block !important;
  }
}
